---
services:
  jellyfin:
    image: jellyfin/jellyfin:latest
    container_name: jellyfin
    restart: unless-stopped
    ports:
      - "8096:8096"
    environment:
      TZ: '{{ timezone }}'
    volumes:
      - ./config:/config
      - ./cache:/cache
      - /media/movies:/data/movies
      - /media/tv:/data/tv
      - /media/music:/data/music
    devices:
      - /dev/dri:/dev/dri
