---
services:
  bitwarden:
    image: ghcr.io/bitwarden/lite
    container_name: bitwarden
    restart: unless-stopped
    ports:
      - "8083:8080"
    environment:
      BW_DOMAIN: "https://bitwarden.hermes.home"
      BW_DB_PROVIDER: "sqlite"
      BW_INSTALLATION_ID: "{{ vault_bitwarden_installation_id }}"
      BW_INSTALLATION_KEY: "{{ vault_bitwarden_installation_key }}"
      BW_ENABLE_ADMIN: "true"
      BW_ENABLE_ICONS: "true"
      BW_DISABLE_ICON_DOWNLOAD: "true"
      globalSettings__baseServiceUri__vault: "http://bitwarden.hermes.home"
      globalSettings__baseServiceUri__api: "http://bitwarden.hermes.home/api"
      globalSettings__baseServiceUri__identity: "http://bitwarden.hermes.home/identity"
    volumes:
      - ./data:/etc/bitwarden
