[Interface]
Address = 10.13.13.1/24
ListenPort = 51820
PrivateKey = {{ server_private_key.content | b64decode | trim }}
PostUp = iptables -I FORWARD 1 -i wg0 -j ACCEPT; iptables -I FORWARD 2 -o wg0 -j ACCEPT; iptables -t nat -A POSTROUTING -o eth0 -j MASQUERADE; iptables -t nat -A POSTROUTING -s 10.13.13.0/24 -d 192.168.5.0/24 -j MASQUERADE
PostDown = iptables -D FORWARD -i wg0 -j ACCEPT; iptables -D FORWARD -o wg0 -j ACCEPT; iptables -t nat -D POSTROUTING -o eth0 -j MASQUERADE; iptables -t nat -D POSTROUTING -s 10.13.13.0/24 -d 192.168.5.0/24 -j MASQUERADE

[Peer] # phone
PublicKey = a3ANsSOZjP4KFSMux3j88KjA5BG5TIJtMEAVRq/uMzA=
AllowedIPs = 10.13.13.2/32

[Peer] # laptop
PublicKey = TsH/u2zmHLEtFAu2dYPzV3aPQiaiPqqgd9Xd1aJunR0=
AllowedIPs = 10.13.13.3/32
