[Interface]
Address = 10.13.13.1/24
ListenPort = 51820
PrivateKey = {{ server_private_key.content | b64decode | trim }}
PostUp = iptables -I FORWARD 1 -i wg0 -j ACCEPT; iptables -I FORWARD 2 -o wg0 -j ACCEPT; iptables -t nat -A POSTROUTING -o eth0 -j MASQUERADE
PostDown = iptables -D FORWARD -i wg0 -j ACCEPT; iptables -D FORWARD -o wg0 -j ACCEPT; iptables -t nat -D POSTROUTING -o eth0 -j MASQUERADE

# Peer configurations will be added here
# Use: wg set wg0 peer <public_key> allowed-ips <ip>/32
